[submodule "backend"]
    path = backend
    url = https://github.com/Kenzie-Academy-Brasil-Developers/ProjetoFullStack-BackEnd.git

[submodule "frontend"]
    path = frontend
    url = https://github.com/Kenzie-Academy-Brasil-Developers/ProjetoFullStack-FrontEnd.git
